.player-list-item {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: auto;
	min-height: 36px;
	margin: 24px 4px;
	padding: 5px;
	color: rgba(0, 0, 0, 0.87);
	border: 1px;
	border-radius: 2px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.12),
		0 3px 11px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.12), 0 3px 11px rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	letter-spacing: 0.03em;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

.text-input {
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	color: rgba(0, 0, 0, 0.87);
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.26);
	border-radius: 0;
	background-image: none;
	background-color: transparent;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: inherit;
	font-size: 16px;
	line-height: inherit;
}

.four {
	margin: 4px;
}


.image img {
	height: auto;
	max-width: 100%;
}

.perform-ability-button {
	padding: 5px 26px;
	color: rgba(0, 0, 0, 0.87);
	border-radius: 2px;
	background-color: #62bdf5;
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.12), 0 3px 11px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	/* font-size: 35px; */
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 94px;
	min-height: 36px;
	margin: 5px;
	padding: 0 26px;
	color: rgba(0, 0, 0, 0.87);
	overflow: hidden;
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.12), 0 3px 11px rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	line-height: 36px;
	line-height: 18px;
	letter-spacing: 0.03em;
	animation-duration: 0.0001s;
	animation-name: mui-btn-inserted;
	transition: all 0.2s ease-in-out;
	touch-action: manipulation;

	user-select: none;
	cursor: pointer;
}


.yellow {
	background-color: #ffa;
}

.blue {
	color: white;
	background-color: #62bdf5;
}

.red {
	color: white;
	background-color: #e24825;
}

.top-buffer {
	margin-top: 50px;
}

.buttons {
	display: flex;
	margin: auto;
	justify-content: space-between;
}

@media (min-width: 1200px) .container {
	max-width: 1170px;
}

@media (min-width: 992px) .container {
	max-width: 960px;
}

@media (min-width: 768px) .container {
	max-width: 740px;
}

@media (min-width: 544px) .container {
	max-width: 570px;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.container .container {
	border: 2px solid black;
	background-image: url("http://download.4-designer.com/files/20130108/The-wood-background-HD-picture-5-40976.jpg");
}

.container {
	display: flex;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 600px;
	padding: 10px;
	flex-direction: column;
	justify-content: center;
}

.game-view {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.overlay {
	z-index: 99999999;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.2);
}

.modal {
	width: 400px;
	height: 300px;
	margin: 100px auto;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
}
