.player-list-item {
	min-height: 36px;
	height: auto;
	margin: 24px 4px;
	padding: 5px 26px;
	color: rgba(0, 0, 0, 0.87);
	border: 1px;
	border-radius: 2px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.12),
		0 3px 11px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.12), 0 3px 11px rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 0.03em;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

.text-input {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	background-color: transparent;
	color: rgba(0, 0, 0, 0.87);
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.26);
	outline: 0;
	width: 100%;
	padding: 10px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	font-size: 16px;
	font-family: inherit;
	line-height: inherit;
	background-image: none;
}

.four {
	margin: 4px;
}

.image {
	height: 60vh;
}

.image img {
	height: 100%;
}

.perform-ability-button {
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.12), 0 3px 11px rgba(0, 0, 0, 0.2);
	padding: 5px 26px;
	border-radius: 2px;
	color: rgba(0, 0, 0, 0.87);
	/*font-size: 35px;*/
	background-color: #62bdf5;
	cursor: pointer;

}



.btn {
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.12), 0 3px 11px rgba(0, 0, 0, 0.2);
	min-width: 94px;
	min-height: 36px;
	margin: 24px 4px;
	padding: 0 26px;
	color: rgba(0, 0, 0, 0.87);
	overflow: hidden;
	border: none;
	border-radius: 2px;
	background-image: none;
	background-color: #fff;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	font-family: inherit;
	font-size: 14px;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	line-height: 36px;
	letter-spacing: 0.03em;
	animation-duration: 0.0001s;
	animation-name: mui-btn-inserted;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
}

.yellow {
	background-color: #FFA
}

.blue {
	background-color: #62bdf5;
	color: white;
}
.red {
	background-color: #e24825;
	color: white;
}

.top-buffer {
	margin-top: 50px;
}

.buttons {
	display: flex;
	margin: auto;
	justify-content: space-between;
}

@media (min-width: 1200px) .container {
	max-width: 1170px;
}

@media (min-width: 992px) .container {
	max-width: 960px;
}

@media (min-width: 768px) .container {
	max-width: 740px;
}

@media (min-width: 544px) .container {
	max-width: 570px;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.container {
	display: flex;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 25px 15px;
	flex-direction: column;
	justify-content: center;
}

.game-view {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.overlay {
	z-index: 99999999;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.2);
}

.modal {
	width: 400px;
	height: 300px;
	border-radius: 5px;
	margin: 100px auto;
	background-color: rgb(255, 255, 255);
}
